<div class="wrapper">
    <div class="hero">
        <div class="doodle"><img src="Images/bot2.png" alt=""></div>
        <div class="quote">
            <h1>To Infinity and Beyond!</h1>
            <p>Education is the most powerful weapon which you can use to change the world.</p>
            <button matButton="outlined">Get Started</button>
        </div>
        <div class="doodle"><img src="Images/bot.png" alt=""></div>
    </div>
    <div class="hero2">
        <div class="content">
            <div class="text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae consectetur labore quaerat totam, repudiandae quo amet saepe modi, nostrum dolore nesciunt dolorum iure cum, soluta facere incidunt doloremque natus ipsam in mollitia. Ducimus ex tempore impedit! Unde in cumque quam? Cum ullam provident neque. Natus eaque illo fugiat nemo dolores.</p>
                <button matButton="filled"><a routerLink="/job">Find a job</a></button>
            </div>
            <div class="gif">
                <img src="https://media1.tenor.com/m/7HYOnFr3-aIAAAAd/sad-sad-monkey.gif" alt="ksdnflefijhsrf">
            </div>
        </div>
    </div>

    <div class="hero3">
        
    </div>
</div>